[uip-admin-theme="true"] {
  //Woocommerce
  .woocommerce-layout__header {
    top: 0;
    width: 100%;
  }

  #woocommerce_dashboard_status .wc_status_list li {
    height: fit-content;
  }

  .woocommerce-layout__header,
  .woocommerce-layout__header .woocommerce-layout__header-heading {
    background: var(--uip-color-base-1);
  }
  .css-wv5nn {
    color: var(--uip-text-color-base);
  }
  .woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab {
    background: var(--uip-color-base-1);
    &:hover {
      background: var(--uip-color-base-0);
    }
  }
  .woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab.components-button:not(:disabled):not([aria-disabled="true"]):hover,
  .woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab:hover {
    background: var(--uip-color-base-0);
  }
  .css-1pd4mph {
    background: var(--uip-color-base-1);
  }
  .woocommerce-task-progress-header .woocommerce-task-progress-header__progress-bar {
    background: var(--uip-color-base-2);
    border-color: var(--uip-border-color);
  }
  .woocommerce-task-dashboard__container.two-column-experiment:not(.two-columns) ul li {
    background: var(--uip-color-base-1);
    border-color: var(--uip-border-color);
  }
  .css-2x4s0q,
  article.woocommerce-stats-overview__install-jetpack-promo h2 {
    color: var(--uip-text-color-emphasis);
  }
  .woocommerce-experimental-list__item,
  .woocommerce-stats-overview__stats .woocommerce-summary__item {
    background: var(--uip-color-base-2);
  }
  .woocommerce-stats-overview__tabs .components-tab-panel__tabs .components-button {
    color: var(--uip-color-accent);
  }
  .css-10feu0u,
  .css-jfofvs,
  .css-10hubey {
    color: var(--uip-text-color-base);
  }
  .css-10hubey,
  .woocommerce-quick-links__item,
  .woocommerce-layout .components-panel__body > .components-panel__body-title,
  .woocommerce-layout .woocommerce-experimental-list__item,
  .woocommerce-layout .woocommerce-inbox-message {
    &:hover {
      background: var(--uip-color-base-2);
    }
  }
  .woocommerce-homescreen .woocommerce-activity-panel .components-panel__body {
    background: var(--uip-color-base-2);
    border-color: var(--uip-border-color);
  }
  .woocommerce-layout__main {
    * {
      border-color: var(--uip-border-color) !important;
    }
  }
  .woocommerce-task-list__item:not(.complete) .woocommerce-task__icon,
  .woocommerce-badge,
  .order-status {
    background-color: var(--uip-color-primary-lighter);
  }
  .select2-search__field {
    background: var(--uip-color-base-1);
    color: var(--uip-text-color-base);
  }
  #woocommerce-order-items .inside,
  #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items {
    background: var(--uip-color-base-1);
    * {
      border-color: var(--uip-border-color) !important;
    }
  }
  #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items thead th {
    background: var(--uip-color-base-1);
  }
  #woocommerce-order-items .wc-order-data-row,
  ul.order_notes li .note_content {
    background: var(--uip-color-base-2);
  }
  .wc-backbone-modal-main {
    * {
      border-color: var(--uip-border-color) !important;
    }
  }
  .wc-backbone-modal-main .wc-backbone-modal-header,
  .wc-backbone-modal-main footer,
  .wc-backbone-modal .wc-backbone-modal-content {
    background: var(--uip-color-base-0);
  }

  //Surecart header
  .css-wa3qun {
    top: 0;
  }
  //Seopress
  #seopress-header {
    width: 100%;
    top: 0;
  }

  //CookieYes
  .cky-app-wrap .cky-app-nav-bar {
    width: calc(100% - 40px);
    top: 0px;
    left: 20px;
  }
  .woocommerce-input-toggle {
    background: var(--uip-color-primary);
    border: 2px solid var(--uip-color-primary);
  }
  .woocommerce-input-toggle.woocommerce-input-toggle--disabled {
    background: var(--uip-color-base-2);
    border: 2px solid var(--uip-color-base-2);
  }
}
html[uip-framed-page="true"] {
  #e-admin-top-bar-root {
    width: 100%;
  }
}

///Fluent forms
html[uip-framed-page="true"] .form_internal_menu {
  left: 0;
  top: 0;
}

////WP WAND
html[uip-core-app="true"] {
  .wpwand-trigger {
    display: none !important;
  }
  #wpf_launcher {
    display: none !important;
  }
}
//Wicked folders fix
html[uip-framed-page="true"] {
  #wicked-object-folder-pane .wicked-resizer {
    left: 0;
  }
  #wicked-object-folder-pane .wicked-content {
    left: 0;
  }
}

// Groundhoggg fix
html[uip-framed-page="true"] {
  #email-editor:has(#email-block-editor),
  #email-editor:has(#email-html-editor) {
    left: 0;
    top: 0;
  }
}

html[uip-core-app="true"] #wicked-object-folder-pane {
  display: none !important;
}

html[uip-framed-page="true"] .toplevel_page_WishListMember {
  #wpcontent {
    padding-left: 0;
  }
}

// Latepoint
.wp-toolbar body.latepoint-admin {
  margin-top: 0 !important;
}

html[uip-framed-page="true"] {
  body:not(.is-fullscreen-mode) .interface-interface-skeleton {
    left: 0;
    top: 0;
  }
}

// Fluent CRM

@keyframes fc_spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

li#wp-admin-bar-fc_global_search {
  position: relative;
}

li#wp-admin-bar-fc_global_search > a {
  background: transparent;
}

li#wp-admin-bar-fc_global_search * {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li#wp-admin-bar-fc_global_search .fc_search_container {
  clear: both;
  display: none;
  position: relative;
}

li#wp-admin-bar-fc_global_search .fc_search_container.fc_show {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: 1px solid #e4e4e7;
  z-index: 999;
  left: 0;
  display: block;
  min-width: 400px;
  padding: 10px 20px;
  position: absolute;
}

.uip-dark-mode {
  li#wp-admin-bar-fc_global_search .fc_search_container.fc_show {
    background-color: #18181b;
    border-color: #3f3f46;
  }
}

li#wp-admin-bar-fc_global_search .fc_search_container input {
  border-radius: 7px;
  padding: 4px 10px;
  width: 100%;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper {
  background-color: #f4f4f5;
  clear: both;
  display: block;
  margin: 10px -20px -10px !important;
  overflow: hidden;
  padding: 0 20px 20px;
}

.uip-dark-mode {
  li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper {
    background-color: #27272a;
  }
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper h4 {
  color: #18181b;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-top: 0.75rem;
}

.uip-dark-mode {
  li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper h4 {
    color: #f4f4f5;
  }
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper ul.fc_quick_links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  margin-top: 0.75rem;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper ul.fc_quick_links li {
  white-space: nowrap;
  display: block;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_quick_links_wrapper ul.fc_quick_links li a {
  margin: 0;
  padding: 0;
}

li#wp-admin-bar-fc_global_search .fc_search_container div#fc_search_result_wrapper {
  clear: both;
  display: block;
  width: 100%;
}

li#wp-admin-bar-fc_global_search .fc_search_container div#fc_search_result_wrapper.fc_has_results {
  padding: 10px 0;
}

li#wp-admin-bar-fc_global_search .fc_search_container div#fc_search_result_wrapper .fc_result_lists {
  list-style: disc;
}

li#wp-admin-bar-fc_global_search .fc_search_container div#fc_search_result_wrapper.fc_loading .fc_result_lists {
  animation: fc_spin 2s linear infinite;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  opacity: 0;
  text-align: center;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_load_more {
  display: none;
  text-align: center;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_load_more.fc_has_more {
  display: block;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_load_more button#fc_load_more_result {
  background: #fff;
  border: 1px solid grey;
  border-radius: 6px;
  cursor: pointer;
  height: auto;
  line-height: 16px;
  margin: 0;
  padding: 6px 15px;
}

li#wp-admin-bar-fc_global_search .fc_search_container .fc_load_more button#fc_load_more_result:hover {
  background: #000;
  color: #fff;
}

html[dir="rtl"] li#wp-admin-bar-fc_global_search .fc_search_container.fc_show {
  left: 0;
  right: auto;
}

body:not(.is-fullscreen-mode) .interface-interface-skeleton {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.uip-id-holder {
  display: none !important;
}

.acf-headerbar-field-editor {
  top: 0;
}

[uip-core-app="true"] body.toplevel_page_gf_edit_forms .gforms_edit_form {
  top: var(--uip-toolbar-height);
}

[uip-core-app="true"] body.toplevel_page_gf_edit_forms .editor-sidebar {
  top: calc(var(--uip-toolbar-height) + 64px);
  bottom: 0;
  height: calc(100% - (var(--uip-toolbar-height) + 64px));
}

[uip-core-app="true"] body.toplevel_page_gf_edit_forms .sidebar {
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
}

[uip-core-app="true"] body.toplevel_page_gf_edit_forms .gform-form-toolbar {
  width: calc(100% - var(--uip-menu-width));
}

[uip-core-app="true"] .form_editor_fields_container {
  max-width: calc(100% - 695px);
}

[uip-admin-theme="true"] div.mce-toolbar-grp,
[uip-admin-theme="true"] div.mce-menubar,
.wp-editor-expand #wp-content-editor-tools {
  position: relative !important;
  top: 0 !important;
}

[uip-admin-theme="true"] div.mce-edit-area {
  padding-top: 0 !important;
}

#wpadminbar .menupop li.hover > .ab-sub-wrapper,
#wpadminbar .menupop li:hover > .ab-sub-wrapper {
  margin-left: 0 !important;
}
