html[uip-framed-page='true'] {
  padding-top: 0;
  #adminmenumain,
  #wpadminbar,
  #wpfooter {
    display: none;
  }
  #wpcontent {
    margin-left: 0;
  }
}
html[uip-hide-screen-options='true'] {
  #screen-options-link-wrap {
    display: none;
  }
}

html[uip-hide-help-tab='true'] {
  #contextual-help-link-wrap {
    display: none;
  }
}

//Notices
html[uip-hide-notices='true'] {
  .notice:not(#message):not(.inline):not(.update-message),
  .wp-analytify-notification {
    display: none !important;
  }
}
.uip-no-admin-bar {
  #wpadminbar {
    display: none;
  }
}
