.ab-sub-wrapper,
.fs_summary_container {
  display: none;
}

.hover > .ab-sub-wrapper,
.fs_show.fs_summary_container,
.menupop:hover > .ab-sub-wrapper {
  position: absolute;
  display: block;
  z-index: 99999;
  background-color: var(--uip-color-base-0);
  border-radius: 0.75rem;
  border: 1px solid var(--uip-border-color);
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  min-width: 140px;
}

.ab-submenu {
  display: flex;
  flex-direction: column;
}

.screen-reader-text {
  display: none;
}

.ab-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--uip-padding-xs);
  color: var(--uip-text-color-muted);
}

.ab-item:hover {
  color: var(--uip-text-color-emphasis);
}

.ab-item > .svg,
.ab-item.svg {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 1rem;
  display: block;
  filter: contrast(0.9);
}

.ab-item:hover > .svg {
  filter: contrast(0.1);
}

#wpadminbar #wp-admin-bar-query-monitor .ab-icon {
  display: none;
}

#wpadminbar ul,
ul#wpadminbar {
  list-style: none;
  padding-left: 0;
}
#wpadminbar a {
  text-decoration: none;
}

[class^="otgs-ico-"]:before,
[class*=" otgs-ico-"]:before,
[data-otgs-ico]:before {
  font-family: otgs-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.otgs-ico-wpml:before {
  content: "\44";
}

#wp-admin-bar-ate-status-bar .otgs-ico-wpml:before {
  font-size: 16px;
}

.ab-icon::before {
  color: var(--uip-text-color-muted);
}

.ab-submenu li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: relative;
}

.ab-submenu li:hover {
  background-color: var(--uip-color-base-1);
}

.icl_als_iclflag {
  display: inline-block;
  margin-right: 0.25rem;
}

.ab-sub-wrapper .ab-sub-wrapper {
  top: 0;
  left: 100%;
  padding-top: 0;
}

#wpadminbar .js-otgs-popover-tooltip {
  display: none;
}

#wpadminbar .qm-alert {
  background-color: #f60;
}

#wpadminbar .ab-item {
  white-space: nowrap;
}

#wpadminbar .qm-strict,
#wpadminbar .qm-deprecated,
#wpadminbar .qm-notice {
  background-color: #d97706;
}

#wpadminbar .qm-expensive {
  background-color: #ea580c;
}

#wpadminbar .qm-error,
#wpadminbar .qm-warning {
  background-color: #dc2626;
}

#wpadminbar #wp-admin-bar-query-monitor:not(.qm-all-clear) .ab-label {
  color: var(--uip-color-base-1);
}

#wpadminbar #wp-admin-bar-query-monitor:not(.qm-all-clear) {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}

#wpadminbar .ab-sub-wrapper li.qm-strict .ab-item,
#wpadminbar .ab-sub-wrapper li.qm-deprecated .ab-item,
#wpadminbar .ab-sub-wrapper li.qm-notice .ab-item,
#wpadminbar .ab-sub-wrapper li.qm-expensive .ab-item,
#wpadminbar .ab-sub-wrapper li.qm-error .ab-item,
#wpadminbar .ab-sub-wrapper li.qm-warning .ab-item {
  color: var(--uip-color-base-1);
}

#wpadminbar .ab-item > svg {
  fill: currentColor;
}

@media screen and (max-width: 782px) {
  .ab-label {
    display: none;
  }
}

#wpadminbar #adminbarsearch #adminbar-search {
  border: 1px solid var(--uip-border-color);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}
